body{
    background-color: #111827;
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
  }

.logo-pic{
    width: 13%;
    height: 13%;
}

.title-wrapper{
    color: #818CF8 !important;
}


@media screen and (max-width: 650px) {
    .logo-pic{
        width: 40%;
        height: 40%;
    }
}
